TextField{
    border-color: purple;
}

Button{
    background-color: purple;
    color: white;
    border-radius: 20;
    // height: 10%;
}

Label{
    padding: 30;
    // border-width: 1;
    // border-color: purple;
    font-weight: bold;
    text-align:center;
    // width: 100%;

}
