// Import common styles
@import "app-common";
@import '~nativescript-theme-core/scss/platforms/index.android';

// Place any CSS rules you want to apply only on Android here
.btn{
    background-color: #7c015d;
    color: white;
    border-radius: 20;
    padding: 5 10;
}
